*{
    margin: 0;
    padding: 0;
}

/* body style */
body{
    margin-top: 2rem;
    max-width: 1440px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

/* colour secion */
.button-dark{
    background-color: #191A23;
    border-radius: 1rem;
    color:#FFFFFF;
    padding: 1.5rem 2.375rem;
    margin-top:2rem;
    font-size: 1rem;
    border: 1px solid #191A23;
    
}
/* main header starts here */

.nav{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.nav-div{
    flex-grow: 1;
}

.nav-bar-div{
    flex-grow: 1;
}

.nav-bar{
    display: flex;
    justify-content:space-evenly;
    align-items: center;


}
.nav-li{
    list-style-type: none;
}

.nav-button{
    border: 1px solid #000000;
    background-color: transparent;
    padding: 2.4rem 4.3rem;
    border-radius: 1.75rem;
}

/* section1 starts here */

.section1{
    margin-top: 2rem;
}

.section-h1{
    margin: 0;
}



.mobile-img{
    display: none;

}

.desktop-img{
    display: block;
}

.section-div2-child{
    font-weight: medium;
    font-size: 2.6rem;
}

.section-div2-child2{
    margin-top:2.rem;

}

.section1-div1{
    display: flex;
    justify-content: space-between;
}

.first-logo-div{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    margin-top: 1rem;

}

/* section1 end here */

/* section2 start here */


.section2-parent-div{
    display: flex;
    /* justify-content: space-between; */
    align-content: center;
    gap:2rem;
    /* font-size: 1.5rem; */
    margin-top: 6rem;
}

.section2-button{
display: flex;
font-size: 2rem;
background-color: #B9FF66;
border: none;
text-align: center;
}

.section2-p{
    font-size: 1.5rem;
}

/* section2 end here............................... */

/* section3 start here.............................3 */


/* .section3{
    /* display: grid;
    justify-content: space-between;
    border: 1px solid black;
    gap:3rem; 
}
 .div3-main1{
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    gap:3rem;  
}
    */

.div3{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 2.4rem;
    align-items: center;
    padding:4rem;
    box-shadow:0 2rem 3rem rgba(0,0,0,0.1);
    max-height: 15rem;
    font-size: 2rem; 

     
}

.div3-content-m{
    display:none;
}

/*.section3-child-m{
    display:none;
}

.div3-media{
    display:none;
}*/

.section3-child-m{
    display:none;
}

.div3-media-m{
    display: none;
}



.div3-content{
    flex-direction: column;
    /* margin: 3rem; */
} 

.div3-main1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:4rem;
    margin-top: 5rem;
    
    
    
}
.section3-p{
    color:white;

}
.contain-h5{
    background-color: #B9FF66;
}
.contain{
    background-color: #F3F3F3;
}

.section3-child{
    display: flex;
    margin-top: 4rem;
    align-items: center;

}

.conten-bg-1{
background-color: #F3F3F3;
}

.conten-bg-2{
background-color: #B9FF66;

}

.conten-bg-3{
background-color: #191A23;
}

/* section3 end here css-------------------- */


/* section4 start here css ------------------*/

.section4-main-div{
    display: block;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    background-color:#F3F3F3;
    border-radius:45px;
    overflow: visible;
    margin-bottom: 5rem;
}
.section4-child-div1{
width: 66.66%;
    padding: 3rem;
}

.section4-h3-h{
    font-size: 2rem;

}

.section4-h3{
    padding-top: 2rem;

}

.section4-p{
    padding-top: 2rem;
    font-size: 1.5rem;

}

.section4-button{
   margin-top:2rem;
    border: none;
    background-color: #000000;
    color: #F3F3F3;
    height: 4rem;
    width: 20rem;
    border-radius: 14px;
    transition: transform 4s;
}

.section4-button:hover{
    transform:scale(1.2) rotate(360deg);

}

.section4-img{
    width: 33.33%;
    z-index: 1;
    padding-right: 20px;
    margin-top: -20px;
    margin-bottom: -20px;
    left: 0;


}
.img-section4-img{
    top:0;
    right: 0;
    max-height: auto;
    height: 100%;
    width: auto;
    object-fit: contain;
    
    
}
    
.button-dark-m{
    display:none;
}

.section4-main-div-m{
    display: none;
    margin-bottom: 10rem;
}



.section4-child2{
    display: flex;
    margin-top: 5rem;
    align-items: center;
    gap:3rem;
}

.section4-button2{
height: 3rem;
width: 15rem;
font-size: 2.3rem;
border:none;
background-color: #B9FF66;
border-radius: 5px;
}

.section4-p-p{
    font-size:1.3rem;
}

.section4-child2-m{
    display: none;
}
/* section 4 end here                                  */


/* section 5 start here                                */

.section5-main-div{
    display: flex;
    background-color: #000000;
    border-radius: 1.5rem;
    color:white;
    justify-content: space-evenly;
    padding: 2rem;
    margin-top: 3rem;
    font-size: 1.5rem;
}

.section5-child-div{
    display: grid;
}
.ction5-div-child{
    border-right:3px solid white;
    padding:0rem 4rem 0rem 0rem;
    
}

.section5-icon{
   margin-top: 1rem;
   display: flex;
   color: #B9FF66;
   justify-content: flex-start;
   gap: 1rem;
}

.section5-main-div-m{
    display: none;
}

/*  section 5 end here */

/*  section 6 start here */

.sectiond6-div{
display:flex ;
gap: 2rem;
margin-top: 4rem;
}

.section6-h2{
font-size: 2.6rem;
background-color: #B9FF66;
justify-content: center;
width: 25rem;
align-items: center;
text-align: center;

}

.section6-p{
    font-size: larger;

}

/*  section 6 end here */


/* section 7 start here */

.section7{
    
    margin-top: 10rem;
}

.section7-header{
    margin-top: 4rem;
    gap: 2rem;
}



.section7-prant-div1{
    border:2px solid black;
    border-radius: 1.5rem;
    padding: 4rem;
    background-color: #B9FF66;
    
    

}

.section7-child-div1{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.section7-child1-h2{
    font-size: 3rem;
    
}

.plus-icone-div{
    display:flex;
    gap: 1rem;
    align-items: center;

}

.section7-child1-p{
    font-size: 2rem;
}

.section7-child-div2{
    margin-top: 1.4rem;
    font-size: 1.4rem;
}

.section7-child2-div2{
    display: flex;
    justify-content: space-between;
    border:2px solid black;
    border-radius: 1.5rem;
    padding: 4rem;
    margin-top: 2rem;
    background-color: #F3F3F3;
}

.section7-child2-div3{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.section7-child2-h2{
    font-size: 3rem;
    text-align: center;
}

.section7-child2-p2{
    font-size: 2rem;
}

.section7-bottom-div{
    display: flex;
    margin-top: 7rem;
    gap: 3rem;
    align-items: center;
}

.section7-bottom-h2{
    font-size: 2.9rem;
    background-color: #B9FF66;

}

.section7-bottom-p{
    font-size: 1.5rem;
}


/* first div end here */


/* section 7 end here */

/* section 8 start here */

.section8-content-div {
  /*  display: flex;
    gap: 15px; */
}

.section8-content-div h3,.section5-content-div h5 {
display:flex;
    display: inline;
}
.section8-cards-container {
    display :grid; grid-template-columns :repeat(3,1fr); 
    gap:50px;
    margin-top: 3rem;

    
}

.section8-card{
    width: 100%;
    background-color:#FAF9F6;
    margin: 0 auto;
    align-items: center;
    padding: 20px;
    border: 1px solid;
    border-radius: 8px;
    box-shadow:0px 1px 0px 0px black;
    background-image:url("./images/icone6.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size:10%;
    box-sizing: border-box;
}

img.card-img {
    width: 30%;
    height: 20%;
    
}
.inline {

    display: flex;
    align-items: center;
    gap: 20px;
}

.section8-bottom-div{
    display: flex;
    justify-content:flex-end;
    margin-top: 3rem;

}


.section8-bottom{
    background-color: #000000;
    display: flex;
    justify-content:center;
    height: 2.5rem;
    color: #F3F3F3;
    width: 12rem;
    align-items: center;
    border-radius: 1rem;



}

/*    section9 start here */

.section9-main-div{
    display: flex;
    gap:4rem;
    margin-top: 4rem;
}

.section9-button{
    background-color: #B9FF66;
    height:3.6rem;
    width: 20rem;
    font-size: 3rem;
    font-size:bold ;
    align-items: center;
    border: none;
}

.section9-p{
    font-size:1.4rem;
    align-items:center;

    
}
/* section 9 end here       */
/*   section10 start here   */

.section10-main-div{
    background-color: #11111a;
    color:white;
    padding: 4px 16px 4px 16px;
    margin-top: 4rem;
  
}


.section10-parent-div{
    max-width: 6rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    
}
  


.section10-child-div{
    display: flex;
    margin-right: 1.5rem;
    margin-left:1.5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    display: flex;
    gap: 1rem;
    scroll-behavior: smooth;
    
}


/* section 10 end here         */
/*   section 11 start here     */


.section11-main-div{
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
}

.section11-botton{
    background-color: #B9FF66;
    height:3.6rem;
    width: 20rem;
    font-size: 3rem;
    font-size:bold ;
    align-items: center;
    font-weight: bold;
    border:none;
}


.section11-p{
    font-size:1.4rem;
    align-items:center; 

}



/* section11 end here    */

/* section12 start here */


.section12-div1{
    display: flex;
    justify-content: space-between;
    background-color: #F3F3F3;
    border-radius: 5.625rem;
    margin: 3rem;
    border-radius: 3rem;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-bottom: 5rem;
    align-items: center

}

.contact-form {
    max-width: 400px;
    background: #ffffff;
    border-radius: 12px;
    flex-grow: 1;
    
  }


  .radio-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .radio-group input[type="radio"] {
    
    accent-color: limegreen; /* green selection */
  }

  .contact-form label {
    display: block;
    
    font-weight: normal;
  }

  .contact-form textarea {
    height: 12rem;
    width: 12rem;
    resize: vertical;
  }


  .contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 4px;
  font-size: 14px;
}

.contact-form button {
    width: 100%;
    padding: 14px;
    background: #11111A;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }


 /* .img-div-12{
    width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  }*/

  .img-12-img{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: -324px;
    overflow: hidden;
    
  }


  .section4-img{
    display: flex;
    
    
    justify-content: flex-end;
  }

 /* .section4-img{
    width: 33.33%;
    z-index: 1;
    padding-right: 20px;
    margin-top: -20px;
    margin-bottom: -20px;
    left: 0;


}
.img-section4-img{
    top:0;
    right: 0;
    max-height: auto;
    height: 100%;
    width: auto;
    object-fit: contain;
    
    
}
*/
.footer-main-div {
    background-color:black;
    color:white;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    padding:20px;
    box-sizing: border-box;
    
}
.footer-nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    
    
}
.footer-nav sub-ul {
font-size:10px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    gap:20px;      
    
}

.footer-first-div {
    display:flex;
    justify-content:space-between;
    text-align:center;
    max-width: 120px;
    font-size: 10px;
   
}

.first-div-child1 {
   align-content:center; 
  
}

.footer-flex {
    display:flex;
    max-width: 20px;
    max-height: 20px;
}

.footer-div-child3 {
display:flex;
    border-top : 1px solid;
    gap:20px;
    
}

p.footer-div-child3 {
     font-size:20px;
    font-weight: 400;
}


/* media queries................................... */

@media screen and (max-width: 576px){

    body{
        margin: 0 auto;

    }
    .nav{
        flex-direction: column;
    }

    .nav-bar{
        flex-wrap: wrap;
    }

    .div-mobile-img{
        max-width: 350px;
        }

    .mobile-img{
        display: block;
        object-fit: cover;
        max-width: 350px;
    }

    .desktop-img{
        display: none;

    }

    .nav-button{
        margin-top: 1rem;
        padding: 1.4rem 2.3rem;
    }

    .section1-div1{
    flex-direction: column;
    }
    .first-logo-div{
        
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
     
    }

    .first-logo-section2{
        height: 1.5rem;
        width: 2rem;
    }
/*
    .div3-main1 {
        
        grid-template-columns: repeat(1, 1fr);
        max-height: 290px;
        width: 150px;
    }      
 .section2-parent-div{
   display: flex;
   flex-direction: column;
   align-items: center;
 }  
 
 .section2-button{
    justify-content: center;
   
    /*align-items: center;
    width: 7rem;
    height: 3rem;
    border-left:5rem;
 }*/

 .section2-p{
    align-items: center;
    padding-left: 2rem;


 }
        
   /*     


.section3{
   
}

.img-container{
    display: none;
    max-width: 120px;
}

.div3-content{
    display: none;
}

img.img-container-img{
    display: none;
    max-height: 2rem;

}

.div3{
   
}

.card-div{
    font-size: 0.5rem;
    padding: 0px;
    justify-content: start;
    width: 250px;
    margin-left: 15px; 
    justify-content: center;
}
.div3-content-m{
    display: block;
    font-size: 1.5rem;
    padding: 2rem;
}
.img-container-img-m{
    height: 7rem;
    width: 7rem;
    flex-grow: 1;

}
.m{
    flex-grow:1;
}
.section3-child-m{
    display:block;
    
    flex-grow: 1;
}

.div3-media{
    display:block;
}

.section3-child-m{
    display:block;
}

.div3-media-m{
    display:block ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
/* section 3  media query end here */


/* section 4 meadia query start here */
.section4-main-div{
    display:none;
}

.section4-child2{
    display: none;
}
.section4-main-div-m{
    display: block;
    display: inline;
    margin-top: 100rem;
}

/* section 4 end here */

/* section 5start here */
.section5-main-div{
    display: block;
}
/* section 5 end here */

/*  section 6 start here */
.sectiond6-div{
    display: none;
}

.section7{
    display: none;
}

}